.wrapper {
    max-width: 80%;
    margin: 1em auto;
    color: var(--color-text-dark);
}

.card h1{
    text-align: center;
    font-size: 1.5em;
    margin-left: 7%;
}

.card p{
    z-index: -1;
    text-align: center;
    padding: 0 7%;
}