.wrapper {
    max-width: 80%;
    margin: 1em auto;
    text-align: center;
    color: var(--color-text-dark);
}

.headerImage {
    position: relative;
    width: 100%;
    z-index: -1;
}

.headerImage p {
    font-size: 2em !important;
    font-weight: 200 !important;
    left: 4% !important;
    bottom: 0% !important;
}

@media screen and (max-width: 1010px) {
    .headerImage p {
        bottom: -5% !important;
    } 
}

.card h1{
    text-align: center;
}

.card p{
    padding: 0 7%;
    z-index: -1;
    text-align: center;
}

.map{
    width: 100%;
    border: none;
    height: 400px;
    position: relative;
    margin-top: 1.5em;

}