.wrapper {
    max-width: 80%;
    margin: 1em auto;
    text-align: center;
    color: var(--color-text-dark);
}

.headerImage {
    position: relative;
    width: 100%;
    z-index: -1;
}

.headerImage p {
    font-size: 2em;
    font-weight: 200;
    left: 4%;
    bottom: 0%;
}

@media screen and (max-width: 1010px) {
    .headerImage p {
        bottom: -5%;
    } 
}

.card h1{
    text-align: center;
}

.card p{
    padding: 0 7%;
    z-index: -1;
    text-align: left;
}

.card iframe{
    margin-top: 1.5em;
    margin-bottom: 2em;
}