.left{
   float: inherit; 
}

.right{
   float: right; 
}

.row{
    margin: 0 20%;
    overflow: hidden;
}

.wrapper {
    max-width: 80%;
    margin: 1em auto;
    color: var(--color-text-dark);
}

.wrapper h1{
    text-align: center;
}

.card p {
    text-align: center;
}


@media screen and (max-width: 1272px){
    .left{
        text-align: center;
       
    }

    .right{
        text-align: center;
        
    }   
}
