.left{
   float: none; 
}

.right{
   float: right; 
}

.row{
    margin: 0 10%;
    overflow: hidden;
}

.wrapper {
    max-width: 80%;
    margin: 1em auto;
    color: var(--color-text-dark);
}

.wrapper h1{
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .left, .right {
        float: none;
        display: block !important;
        margin: 0 auto;
        width: 100% !important;
    }
}
