.left{
   float: none; 
}

.right{
   float: right; 
}

.row{
    margin: 0 20%;
    overflow: hidden;
}

.wrapper {
    max-width: 80%;
    margin: 1em auto;
    color: var(--color-text-dark);
}

.wrapper h1{
    text-align: center;
}

.card p {
    text-align: center;
}

.hashtag{
    width: 30%;
    display: block;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.hashtag img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.hashtag h3{
    text-align: center;
}

.hashtag p{
   text-align: center;
}


@media screen and (max-width: 1150px) {
    .left, .right {
        float: none;
        display: block !important;
        margin: 0 auto;
        width: 100% !important;
    }
}