.wrapper {
    max-width: 80%;
    margin: 1em auto;
    color: var(--color-text-dark);
}

.headerImage {
    position: relative;
    height: 80%;
    z-index: -1;
}

.headerImage p {
    bottom: 0.5em;
    font-size: 2em;
    font-weight: 200;
}

.card{
    position: relative;
    padding-top: 4em;
    margin-top: 1.5em;
    height: 400px;
}

.card h1{
    text-align: center;
}

.card p{
    z-index: -1;
    text-align: left;
    padding: 0 7%;
}

.card iframe{
    margin-top: 1.5em;
    margin-bottom: 2em;
}