.wrapper {
    max-width: 80%;
    margin: 1em auto;
    color: var(--color-text-dark);
}

.headerImage {
    position: relative;
    height: 80%;
    z-index: -1;
}

.headerImage p {
    bottom: 0.5em;
    font-size: 2em;
    font-weight: 200;
}

.imageContainer{
padding: 0 15%
}

.imageContainer img
{
    display: inline-block;
    max-width: 250px;
    border-radius: 100%;
    width:45%;
}

.imageContainer img:nth-child(even){
    float:  right;
}
    

.card h1{
    text-align: center;
    font-size: 1.5em;
    margin-left: 7%;
}

.card p{
    z-index: -1;
    text-align: center;
    padding: 0 7%;
}

.card iframe{
    margin-top: 1.5em;
    margin-bottom: 2em;
}