.env
.env.*
exports
.cache
build


### Node ###

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


############################
# macOS
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.env
.env.*
exports
.cache
build

############################
# Node.js
############################

lib-cov
lcov.info
pids
*.pid
*.seed
*.pid.lock
logs
results
node_modules
jspm_packages
.node_history
coverage
*.lcov
.nyc_output
build/Release
.yarn-integrity
.eslintcache
.npm
.next

############################
# Tests
############################

testApp
coverage

