.div{
    width: 30%;
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;
}

.div img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.div h3{
    text-align: center;
}

.div p{
   text-align: center;
}