
.counterElement {
    display: inline-block;
    text-align: center;
}

.counter{
    font-family: sans-serif;
    font-weight: 700;
    text-align: justify;
    font-size: 50px;
    margin: 0 auto;
    width: 350px;
    position: relative;
    display: block;
}

.labels{
    position: relative;
    font-size: 0.26em;
    top: -35px;
}

.labels span{
    position: absolute;

}

.labels span:nth-child(1){
 left: 25px 
}

.labels span:nth-child(2){
    left: 105px;
}

.labels span:nth-child(3){
    left: 175px;
}

.labels span:nth-child(4){
    right: 2px;
}